                 <p><script type="text/javascript">
                   <!--
                   b='&#x73;&#x74;&#x75;&#x64;&#x65;&#x6e;&#x74;&#x20;&#x64;&#x6f;&#x74;&#x20;&#x61;&#x61;&#x75;&#x20;&#x64;&#x6f;&#x74;&#x20;&#x64;&#x6b;';a='&#x61;&#x74;&#x20;';h='&#x74;&#x62;&#x73;&#x68;&#x31;&#x38;&#x20;';m=h+a+b;
                   document.write(''+m);
                   // -->
                 </script><noscript>&#x74;&#x62;&#x73;&#x68;&#x31;&#x38;&#x20;&#x61;&#x74;&#x20;&#x73;&#x74;&#x75;&#x64;&#x65;&#x6e;&#x74;&#x20;&#x64;&#x6f;&#x74;&#x20;&#x61;&#x61;&#x75;&#x20;&#x64;&#x6f;&#x74;&#x20;&#x64;&#x6b;</noscript></p>
