    <footer class="site-footer">

      <div class="wrapper">

        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li>{{ site.title }}</li>
              <li>{{ site.author }} • CS Student</li>
              <li>
{% include email.html %}
              </li>
            </ul>
          </div>

          <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              {% assign author = site.socnet_users.first %}
              <li>
                {% include icon-github.html username=author.github_username %}
              </li>
              <li><br /></li>
            </ul>
          </div>

          <div class="footer-col footer-col-3">
            <p>
              {{ site.description }}
            </p>
          </div>
        </div>

      </div>

    </footer>
